/* Style global */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFFFFF;
    color: #333333;
    margin: 0;
    padding: 0;
    background-image: url('../images/wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
}

a {
    text-decoration: none;
}

p {
    font-size: 18px;
}

button:hover {
    background-color: #457B9D; 
}

.glob {
    padding-left: 10%;
    padding-right: 10%;
}

/* Boutons principaux et navbar-brand */
.navbar-brand,
.btn-primary {
    background-color: #FF8552;
    border: 2px solid #333333;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand:hover,
.btn-primary:hover {
    background-color: #457B9D;
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.btn-lg {
    font-size: 1.2rem;
    padding: 12px 30px;
}

/* Barre de navigation */
.navbar {
    background-color: #FF8552;
}

.navbar-toggler {
    font-size: 1.2rem;
    color: #333333;
}

.nav-link {
    font-weight: 500;
    text-transform: uppercase;
    color: #333333;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.nav-link:hover {
    background-color: #457B9D;
    transform: scale(1.05);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
}

.navbar-nav .dropdown-menu {
    background-color: #FF8552;
}

.navbar-nav .dropdown-item {
    color: #333333;
}

.navbar-nav .dropdown-item:hover {
    color: #FFFFFF;
    background-color: #457B9D;
}

/* Style des sections */
section {
    border-radius: 10px;
    border-color: #4A4A4A;
    border-width: 4px;
    background-color: #FF8552;
    color: #333333;
}

.section-white {
    background-color: #F0F0F0;
    color: #333333;
}

.section-dark {
    background-color: #FF8552;
    color: #333333;
}

/* Titres et heading */
.heading {
    font-family: 'Montserrat', sans-serif;
}

.heading h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.heading h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* Compétences */
.comp {
    transition: transform 0.2s ease-in-out;
}

.progress-bar {
    width: 0;
    transition: width 2s ease-in-out;
}

.comp:hover .progress-bar {
    width: 100%;
}

/* Timeline */
.timeline {
    list-style: none;
    padding: 0;
    position: relative;
}

.timeline:before {
    content: '';
    position: absolute;
    width: 3px;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1.5px;
    background-color: #4A4A4A;
}

.timeline-item {
    margin-bottom: 20px;
    position: relative;
    width: 50%;
    padding-left: 40px;
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
    opacity: 0; /* Initialisation de l'animation */
    transform: translateX(-50px); /* Position initiale pour l'animation */
}

.timeline-item.in-view {
    opacity: 1;
    transform: translateX(0); /* Fin de l'animation */
}

.timeline-item.timeline-inverted {
    left: 50%;
    padding-right: 40px;
    padding-left: 0;
}

.timeline-item.timeline-inverted .timeline-panel {
    text-align: left;
}

.timeline-item .timeline-panel {
    position: relative;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    padding: 20px;
}

.timeline-item .timeline-badge {
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 1.2rem;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 80%;
    margin-left: -15px;
    background-color: #457B9D;
    border-radius: 50%;
}

.timeline-item.timeline-inverted .timeline-badge {
    left: auto;
    right: 20%;
    margin-right: -15px;
}

.timeline-item .timeline-badge .bi {
    font-size: 1rem;
}


/* Portfolio */
.card {
    position: relative;
    background-color: #FFFFFF;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.3);
}

.card .card-body {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.card:hover .card-body {
    opacity: 1;
    transform: translateY(0);
}

.card-title {
    font-size: 1.25rem;
    color: #333333;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: 0.9rem;
    color: #555555;
}

.card img {
    height: 200px;
    object-fit: cover;
}

/* Recommandations */
.recommendation {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.recommendation h5 {
    margin: 10px 0 5px;
}

.recommendation p {
    margin-bottom: 10px;
}

/* Barre réseaux sociaux */
.social-sidebar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: #343a40;
    padding: 10px;
    border-radius: 0 5px 5px 0;
}

.social-sidebar a {
    display: block;
    color: #fff;
    font-size: 1.5em;
    margin: 10px 0;
    text-align: center;
}

.social-sidebar a:hover {
    color: #457B9D;
}

/* Divers */
.divider {
    width: 60px;
    height: 2px;
    background-color: #333333;
    margin: 0 auto 20px;
    border: 4px solid #bbb;
    border-radius: 5px;
}
