/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Variables CSS */
:root {
    --primary-color: #FF8552;
    --secondary-color: #457B9D;
    --secondary-color-rgba: rgba(69, 123, 157, 0.3);
    --text-color: #333333;
    --light-background: #F0F0F0;
    --dark-background: #FFD9C8;
    --border-color: #4A4A4A;
    --shadow-light: rgba(0, 0, 0, 0.1);
    --shadow-dark: rgba(0, 0, 0, 0.3);
}

/* Global */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFFFFF;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    background-image: url('../images/wallpaper.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: 18px;
    line-height: 1.25;
    text-align: justified;
}

/* Effets au survol */
button:hover,
.nav-link:hover,
.navbar-brand:hover,
.btn-primary:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
    box-shadow: 0px 8px 16px var(--shadow-light);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

/* Container principal */
.glob {
    padding: 0 15%;
}

/* Boutons et navbar */
.navbar-toggler,
.btn-primary,
.nav-link {
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.navbar-brand,
.btn-primary {
    background-color: var(--primary-color);
    border: 2px solid var(--text-color);
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px var(--shadow-light);
}

/* Navbar */
.navbar {
    background-color: var(--primary-color);
    padding: 5px 0;
}

.navbar-toggler {
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 5px 10px;
}

.nav-link {
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text-color);
    border-radius: 4px;
    box-shadow: 0px 4px 6px var(--shadow-light);
    padding: 5px 10px;
    font-size: 0.9rem;
}

.navbar-nav .dropdown-menu {
    background-color: var(--primary-color);
}

.navbar-nav .dropdown-item {
    color: var(--text-color);
}

.navbar-nav .dropdown-item:hover {
    color: #FFFFFF;
    background-color: var(--secondary-color);
}

/* Sections */
section {
    background-color: var(--dark-background);
    color: var(--text-color);
}

.section-white {
    background-color: var(--light-background);
}

.section-dark {
    background-color: var(--dark-background);
}

.section-badge {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-right: 10px;
    vertical-align: middle;
}

/* Headings */
.heading h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.heading h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* Presentation */

#presentation .container p {
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
}

/* Timeline */
.timeline {
    list-style: none;
    padding: 0;
    position: relative;
}

.timeline:before {
    content: '';
    position: absolute;
    width: 3px;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1.5px;
    background-color: var(--border-color);
}

.timeline-item {
    margin-bottom: 15px;
    position: relative;
    width: 50%;
    padding: 10px 20px;
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
    opacity: 0;
    transform: translateX(-50px);
    text-align: justified;
}

.timeline-item.in-view {
    opacity: 1;
    transform: translateX(0);
}

.timeline-item.timeline-inverted {
    left: 50%;
    padding-left: 0;
    padding-right: 40px;
}

.timeline-item .timeline-panel {
    position: relative;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 0.9rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.timeline-item .timeline-body {
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.6s ease, max-height 0.6s ease;
    opacity: 0;
}

.timeline-item:hover .timeline-body {
    opacity: 1;
    max-height: 500px;
}

.timeline-item .timeline-heading h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.timeline-item .timeline-heading h4 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    text-align: center;
}

/* Compétences */
.comp {
    transition: transform 0.2s ease-in-out;
}

.comp p {
    font-size: 1.5rem;
}

.progress {
    background-color: var(--secondary-color-rgba);
    height: 20px;
}

.progress-bar {
    width: 0;
    transition: width 2s ease-in-out;
    font-weight: bold;
    background-color: var(--primary-color);
}

.comp:hover .progress-bar {
    width: 100%;
}

/* Styles du carousel du portfolio */
#portfolio .wrapper {
    width: 100%;
}

#portfolio .wrapper .carousel {
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}

#portfolio .carousel .card {
    line-height: 250px;
    text-align: center;
    color: #fff;
    font-size: 90px;
    font-weight: 600;
    margin: 20px 0;
    box-shadow: 0px 4px 15px rga(0,0,0,0.2);
    margin-left: 20px;
    margin-right: 20px;
}

#portfolio .carousel .card:hover {
    transform: scale(1.05);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

#portfolio .carousel .card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    margin: 0 5px;
    background-color: var(--primary-color) !important;
    border: none;
    transition: all 0.3s ease;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3)
}

.owl-dot:hover,
.owl-dot.active {
    background-color: var(--secondary-color) !important;
    transform: scale(1.2);
}

/* Styles des cards pour recommendations */
.recommendation-card {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.recommendation-card h5 {
    margin: 10px 0 5px;
}

.recommendation-card p {
    margin-bottom: 10px;
}

/* Carousel recommendations */
#carouselExampleControls {
    position: relative;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.carousel-control-prev-icon {
    margin-left: 100px;
}

.carousel-control-next-icon {
    margin-right: 100px;
}

.carousel-control-prev,
.carousel-control-next {
    width: auto;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 1;
}

/* Styles du formulaire */

form .form-group {
    margin-bottom: 10px;
}

form input,
form textarea {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 1rem;
    width: 100%;
}

form label {
    font-weight: bold;
}

/* Responsive */
@media (max-width: 768px) {
    .glob {
        padding: 0 10%;
    }
    /* Timelines + headings */
    .timeline-item {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .timeline-item.timeline-inverted {
        left: 0;
        padding-right: 20px;
        padding-left: 20px;
    }

    .timeline-item .timeline-body {
        overflow: visible;
    }

    .heading h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .heading h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .timeline-heading h3 {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }

    .timeline-heading h4 {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 0.85rem;
    }

    /* Formulaire */
    form {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px;
        padding: 0 10px;
    }

    .form-group {
        order: initial;
        margin-bottom: 15px;
    }

    .form-group#nameForm {
        grid-row: 1;
    }

    .form-group#surnameForm {
        grid-row: 2;
    }

    .form-group#phoneForm {
        grid-row: 3;
    }

    .form-group#emailForm {
        grid-row: 4;
    }

    .form-group#societyForm {
        grid-row: 5;
    }

    .form-group#messageForm {
        grid-row: 6;
    }

    button[type="submit"] {
        grid-row: 7;
        justify-self: center;
    }

    #theme-toggle {
        padding: 5px 10px;
        font-size: 0.85rem;
    }
}

@media (min-width: 769px) and (max-width: 959px) {
    .glob {
        padding: 0 12%;
    }
    .carousel owl-carousel card {
        width: 100%;
    }
}

@media (min-width: 769px) {
    /* Timeline */
    .timeline-item.timeline-inverted {
        left: 50%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .timeline-item {
        padding-left: 30px;
        padding-right: 20px;
    }

    /* Formulaire */
    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 0px;
        column-gap: 5px;
        padding: 0 10px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-group label {
        display: block;
        margin-bottom: 5px;
    }

    .form-group.full-width {
        grid-column: span 2;
    }

    button[type="submit"] {
        grid-column: span 2;
        justify-self: center;
    }
}

@media (min-width: 960px) {
    .glob {
        padding: 0 15%;
    }
}

@media (max-width: 960px) {
    .timeline-item {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .timeline-item.timeline-inverted {
        left: 0;
    }
}


/* Footer + barre de réseaux sociaux */
footer {
    background-color: transparent;
    color: var(--text-color);
    padding: 20px 0;
}

.social-sidebar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: var(--secondary-color);
    padding: 8px;
    border-radius: 0 5px 5px 0;
}

.social-sidebar a {
    display: block;
    color: var(--light-background);
    font-size: 1.5em;
    margin: 8px 0;
    text-align: center;
}

.social-sidebar a:hover {
    color: var(--primary-color);
    transform: scale(1.05);
    box-shadow: 0px 8px 16px var(--shadow-light);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}


/* Styles de focus */
a:focus,
button:focus,
.nav-link:focus,
.navbar-brand:focus,
.btn-primary:focus,
form input:focus,
form textarea:focus,
.navbar-toggler:focus {
    outline: 2px solid var(--secondary-color);
    outline-offset: 2px;
    box-shadow: 0 0 5px var(--primary-color);
}

form input:focus,
form textarea:focus {
    border-color: var(--dark-background);
}

.navbar-toggler:focus {
    outline: none;
}

/* Sticky Navbar Offset */
:target:before {
    content: "";
    display: block;
    height: 80px;
    margin-top: -80px;
}

/* Mode sombre */
[data-theme="dark"] {
    --primary-color: #3D63DD;
    --secondary-color: #457B9D;
    --text-color: #FFFFFF;
    --light-background: #1D3557;
    --dark-background: #1D2E5C;
    --border-color: #333333;
    --shadow-light: rgba(255, 255, 255, 0.1);
    --shadow-dark: rgba(0, 0, 0, 0.5);
}

[data-theme="dark"] body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Calque semi-transparent pour assombrir l'image */
    z-index: -1; /* Derrière le contenu principal */
}


/* Fond pour le corps */
[data-theme="dark"] body {
    background-image: url('../images/wallpaper.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

/* Spécifique à la timeline */
[data-theme="dark"] .timeline-item .timeline-panel {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}

[data-theme="dark"] .timeline-item .timeline-heading h3,
[data-theme="dark"] .timeline-item .timeline-heading h4 {
    color: #FFFFFF; /* Heading des timelines en blanc */
}

/* Couleur des icônes de la valise et du livre */
[data-theme="dark"] .section-badge.bi-briefcase-fill,
[data-theme="dark"] .section-badge.bi-book-fill {
    color: var(--primary-color);
}

/* Couleur des icônes bi-clock-fill */
[data-theme="dark"] .bi-clock-fill {
    color: #FFFFFF;
}

[data-theme="dark"] .timeline-item .timeline-panel p,
[data-theme="dark"] .timeline-item .timeline-panel .text-muted {
    color: #FFFFFF !important;
}


/* Effet de transparence pour les images du portfolio */
[data-theme="dark"] #portfolio .carousel .card img {
    opacity: 0.6;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

[data-theme="dark"] #portfolio .carousel .card img:hover {
    opacity: 1;
    transform: scale(1.05);
}

/* Adaptation des recommandations */

[data-theme="dark"] #recommendations .carousel .card {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}

[data-theme="dark"] #recommendations .carousel .card h3,
[data-theme="dark"] #recommendations .carousel .card p {
    color: #FFFFFF;
}


/* Adaptation du formulaire */

[data-theme="dark"] form input,
[data-theme="dark"] form textarea {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}

[data-theme="dark"] form input::placeholder,
[data-theme="dark"] form textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

[data-theme="dark"] form input:focus,
[data-theme="dark"] form textarea:focus {
    outline: 2px solid var(--secondary-color);
}


/* Adaptation de la barre de réseaux sociaux */

[data-theme="dark"] .social-sidebar {
    background-color: var(--primary-color);
}

[data-theme="dark"] .social-sidebar a {
    color: var(--text-color);
}

[data-theme="dark"] .social-sidebar a:hover {
    transform: scale(1.1);
}

